<div class="grid" *ngIf="!isLoading">
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">
            Nome do Dispositivo
          </span>
          <app-device-name-form
            [device]="device"
            (updateDeviceName)="handleUpdateDeviceName($event)"
          ></app-device-name-form>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-tag text-blue-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Temperatura Atual</span>
          <span class="text-900 font-medium text-xl" [pTooltip]="
          'Atualizado ' +
          (device?.actualTemperatureInfos?.updatedAt
            | dfnsFormatDistanceToNow : dateDisplayOptions)
        ">
            {{ device?.actualTemperatureInfos?.temperature }}°C
          </span>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <img
            src="assets/layout/images/logo.png"
            alt="Logo"
            class="w-full p-1"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">
            Temperatura Atual Desejada
          </span>
          <div class="text-900 font-medium text-xl">
            {{ goalTemperature }}°C
          </div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <img
            src="assets/layout/images/logo.png"
            alt="Logo"
            class="w-full p-1"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 xl:col-6">
    <div class="card">
      <h5>Programação do Dispositivo</h5>
      <app-temperature-history-chart
        [hideHistoryLine]="true"
        [device]="device"
      ></app-temperature-history-chart>
      <button
        pButton
        pRipple
        label="Definir novo Intervalo"
        icon="pi pi-cog"
        class="w-full mt-4"
        styleClass="w-full"
        (click)="openDialog()"
      ></button>
    </div>
  </div>
  <div class="col-12 xl:col-6">
    <div class="card">
      <h5>Histórico de Temperatura</h5>
      <app-temperature-history-chart
        [device]="device"
      ></app-temperature-history-chart>
    </div>
  </div>

  <app-temperature-interval-form
    [dialogState]="temperatureModalForm"
  ></app-temperature-interval-form>
</div>

<app-dashboard-loading-page *ngIf="isLoading"></app-dashboard-loading-page>
