<div class="card m-3 border-1 surface-border">
  <div
    class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2"
  >
    <div class="flex align-items-center">
      <i class="pi pi-chart-line mr-2"></i>
      <span class="font-semibold">Gráfico de Temperatura</span>
    </div>
  </div>
  <div class="flex flex-column align-items-center gap-4 text-center mb-3">
    <div class="w-full">
      <app-temperature-history-chart
        [device]="device"
      ></app-temperature-history-chart>
    </div>
    <app-device-name-form [device]="device" (updateDeviceName)="updateDeviceName.emit($event)"></app-device-name-form>
    <div
      class="flex items-center justify-center gap-2 mx-2"
      [pTooltip]="
        'Atualizado ' +
        (device?.actualTemperatureInfos?.updatedAt
          | dfnsFormatDistanceToNow : dateDisplayOptions)
      "
    >
      <img src="assets/layout/images/logo.png" alt="Logo" height="25" />
      <span class="text-xl font-semibold">
        {{ device?.actualTemperatureInfos?.temperature }}°C
      </span>
    </div>
    <a
      [routerLink]="device?.macAddress"
      pButton
      label="Configurar"
      icon="pi pi-cog"
      class="w-full"
      styleClass="w-full"
    ></a>
  </div>
</div>
