<div class="card m-3 border-1 surface-border">
  <div
    class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2"
  >
    <div class="flex align-items-center">
      <i class="pi pi-chart-line mr-2"></i>
      <span class="font-semibold">Gráfico de Temperatura</span>
    </div>
  </div>
  <div class="flex flex-column align-items-center gap-4 text-center mb-3">
    <div class="w-full">
      <app-temperature-history-chart></app-temperature-history-chart>
    </div>
    <div class="text-xl font-bold">{{ device?.name }}</div>
    <div class="flex items-center justify-center gap-2">
      <img src="assets/layout/images/logo.png" alt="Logo" height="25" />
      <span class="text-xl font-semibold">
        {{ device?.actualTemperature }}°C
      </span>
    </div>
    <a
      [routerLink]="device?.id"
      pButton
      label="Configurar"
      icon="pi pi-cog"
      class="w-full"
      styleClass="w-full"
    ></a>
  </div>
</div>
