<div class="grid">
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <p-skeleton width="10rem" styleClass="mb-4"></p-skeleton>
          <p-skeleton height="1.5rem" width="7rem"></p-skeleton>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <p-skeleton width="2.5rem" height="2.5rem"></p-skeleton>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <p-skeleton width="10rem" styleClass="mb-4"></p-skeleton>
          <p-skeleton height="1.5rem" width="4rem"></p-skeleton>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <p-skeleton width="2.5rem" height="2.5rem"></p-skeleton>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <p-skeleton width="13rem" styleClass="mb-4"></p-skeleton>
          <p-skeleton height="1.5rem" width="4rem"></p-skeleton>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <p-skeleton width="2.5rem" height="2.5rem"></p-skeleton>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 xl:col-6">
    <div class="card">
      <p-skeleton height="1.5rem" width="16rem" styleClass="mb-3"></p-skeleton>
      <p-skeleton height="14.375rem" width="100%" styleClass="mb-5"></p-skeleton>
      <p-skeleton height="2.625rem" width="100%"></p-skeleton>
    </div>
  </div>
  <div class="col-12 xl:col-6">
    <div class="card">
      <p-skeleton height="1.5rem" width="16rem" styleClass="mb-3"></p-skeleton>
      <p-skeleton height="14.375rem" width="100%"></p-skeleton>
    </div>
  </div>
</div>
